html, body {
    margin: auto;
    background-color: lightsteelblue;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: lightgreen;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50em;
    height: 20em;
    background-color: lightcyan;
}

#fact-display{
    font-weight: bolder;
    max-width: 85%;
    font-size: large;
}

#generate-button {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-radius: 50px;
    background-color: rgb(216, 216, 150);
}

#generate-button:hover {
    background-color: rgb(255, 255, 212);
}

.footer {
    align-self:flex-start;
    margin-left: 2em;
}